$primary-color: hsl(250, 90%, 5%);
$secondary-color: hsl(60, 30%, 90%);
$edge-color: hsl(250, 10%, 20%);
$shadow-color: hsla(200, 90%, 5%, 0.5);

$editor-bg-color: hsl(250, 5%, 15%);
$editor-font-color: hsl(20, 20%, 80%);

$previewer-bg-color: hsl(300, 10%, 15%);
$previewer-font-color: hsl(180, 15%, 85%);
$previewer-accent-color: hsl(265, 55%, 70%);
$previewer-sec-bg-color: hsl(300, 10%, 70%);
$previewer-sec-font-color: hsl(305, 50%, 10%);

$separator-size: 15px;
$separator-edge: 5px;
