.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(hsl(200, 80%, 10%), hsl(300, 20%, 10%));
  perspective: 70rem;
  overflow: hidden;
}
