@import "base";

.quotes-anim-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  
  i {
    color: $mainColor;
    font-size: 0.5rem;
    position: absolute;
    top: 110%;
  }
  
  @for $i from 1 through 200 {
    i:nth-child(#{$i}) {
      left: random() * 100%;
      animation: quotes-anim-#{$i} 7s random() * 7s linear infinite;
    }
    
    @keyframes quotes-anim-#{$i} {
      @for $j from 0 through 2 {
        #{$j * 40}% {
          left: random() * 100%;
        }
      }
      
      100% {
        top: 0%;
        left: random() * 100%;
        opacity: 0.1;
      }
    }
  }
}
